<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ripple - Features</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            padding: 20px;
            color: #333;
            line-height: 1.6;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        .feature {
            display: flex;
            align-items: center;
        }

        .feature-icon {
            flex-shrink: 0;
            margin-right: 10px;
        }

        .feature-text {
            font-size: 16px;
        }

        .footer {
            font-size: 12px;
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <h1>Ripple - Features</h1>
    <ul>
        <li class="feature">
            <img src="icon1.png" alt="Feature 1" class="feature-icon">
            <span class="feature-text">Connect with friends and family</span>
        </li>
        <li class="feature">
            <img src="icon2.png" alt="Feature 2" class="feature-icon">
            <span class="feature-text">Share photos </span>
        </li>
        <li class="feature">
            <img src="icon3.png" alt="Feature 3" class="feature-icon">
            <span class="feature-text">Discover new people and interests</span>
        </li>
        <li class="feature">
            <img src="icon4.png" alt="Feature 4" class="feature-icon">
            <span class="feature-text">Create and join groups</span>
        </li>
        <!-- <li class="feature">
            <img src="icon5.png" alt="Feature 5" class="feature-icon">
            <span class="feature-text">Chat and message with friends</span>
        </li> -->
        <li class="feature">
            <img src="icon6.png" alt="Feature 6" class="feature-icon">
            <span class="feature-text">Customize your profile</span>
        </li>
    </ul>
    <p class="footer">For more information, please contact us at [Your Contact Information].</p>
</body>

</html>


