<% include ./partials/header.ejs %>
 
  <div class="w-full min-h-screen bg-black text-white py-5 flex flex-col items-center justify-center">

    <div class="flex flex-col items-center gap-5 px-4">
      <img class="w-1/2" src="/images/logo.png" alt="">
      <form class="w-full" action="/register" method="post">
        <input class="px-3 mt-2 py-2 border-2 border-zinc-950 rounded-md block w-full bg-black" type="text"
          placeholder="username" name="username">
        <input class="px-3 mt-2 py-2 border-2 border-zinc-950 rounded-md block w-full bg-black" type="email"
          placeholder="email" name="email">
        <input class="px-3 mt-2 py-2 border-2 border-zinc-950 rounded-md block w-full bg-black" type="text"
          placeholder="name" name="name">
        <input class="px-3 mt-2 py-2 border-2 border-zinc-950 rounded-md block w-full bg-black" type="password"
          placeholder="password" name="password">
        <input class="w-full bg-purple-700 px-3 py-3 rounded-md mt-2" type="submit" value="Make New Account">
      </form>
      <span>Already have an account ? <a href="/login" class="text-purple-500">Log In</a></span>
    </div>
  </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
    integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>

  <% include ./partials/footer.ejs %>